@model List<Wedding>

<h2>Welcome to Wedding Planner</h2>

<table class="table">
  <thead>
    <tr>
      <th>Wedding</th>
      <th>Date</th>
      <th>Guest</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Wedding wedding in Model)
    {
      <tr>
        <td>@wedding.WedderOne & @wedding.WedderTwo</td>
        <td>@wedding.Date.ToString("MMMM dd yyyy")</td>
        <td>@wedding.Guests.Count</td>
        <td>
          <form>
            Join Here
          </form>
        </td>
      </tr>
    }

  </tbody>
</table>

<a class="btn btn-success" asp-controller="Wedding" asp-action="Create">New Wedding</a>