<h2>Welcome to Wedding Planner</h2>

<table class="table">
  <thead>
    <tr>
      <th>Wedding</th>
      <th>Date</th>
      <th>Guest</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Person & Person</td>
      <td>Oct 1 2023</td>
      <td>5</td>
      <td>Action Here</td>
    </tr>
  </tbody>
</table>

<a class="btn btn-success" asp-controller="Wedding" asp-action="Create">New Wedding</a>