@if (ViewBag.AuthorizationError != null)
{
  <p class="text-danger font-weight-bold">@ViewBag.AuthorizationError</p>
}

<partial name="_Register"></partial>
@if (Context.Session.GetInt32("UserId") == null)
{
  <partial name="_Login"></partial>
}